/* OGOLNE */

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin: 0 0;
  padding: 0 0;
  background-image: url('/images/background.gif');
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

/* FORMULARZ */

label {
  font-weight: bold;
}

input, textarea {
  margin: 5px 0;
  width: 510px;  
}

.submit {
  width: auto;
}

textarea {
  height: 150px;
}

.date, .img , .category{
  margin: 5px 0;
}

p {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  color: #FFF; 
  font-weight: bold;
  font-size: 18px;
}

.menu {
  margin-top:15px;
}

.menu a {
  margin: 0px 8px;
}

.fieldWithErrors input, .fieldWithErrors textarea {
}

#errorExplanation {
  border: 1px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #ffb9b9;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -webkit-border-radius: 8px; /* Safari, Chrome */
  -khtml-border-radius: 8px;    /* Konqueror */
  -moz-border-radius: 8px; /* Firefox */
  border-radius: 8px;
}

#errorExplanation h2 {
  display: none;
}

#errorExplanation p {
  display: none;
}

#errorExplanation ul {
  margin: 2px 2px;
}

#errorExplanation ul li {
  font-size: 12px;
  margin-left: -20px;
  margin-bottom: 0;
}


#container {
  width: 550px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px;
}

.header .box {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
}

.movie p {
  margin: 10px 0;
}

.box {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 10px 0px;
  padding: 15px;

}

.box a {
  color: #999;
  font-size: 14px;
}

.fullname {
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
}

.logo {
  border: none;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.rfloat {
  float: right;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


.box {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -webkit-border-radius: 5px; /* Safari, Chrome */
  -khtml-border-radius: 5px;    /* Konqueror */
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px;
}

.photo {
  float: left;
  margin: 0 5px 5px 0;
}

img {
  border: 1px solid #000;
}

ul {
  margin: 5px 0px;
  padding 0;
}

li {
  margin: 0 0 0 -20px;
  padding: 0;
}

.pagination {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.search {
  display: none;
}

#flash_notice {
  color: green;
  font-weight: bold;
  text-align: center;
}

#flash_error {
  color: red;
  font-weight: bold;
  text-align: center;
}

